<!-- <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]=true> -->
  <ngb-alert class="success-color-dark text-white d-flex justify-content-center" [dismissible]="true" id="1">
    <strong>Success</strong> You did great!.
  </ngb-alert>

  <br>

  <ngb-alert class="primary-color-dark text-white d-flex justify-content-center" [dismissible]="true" id="2">
    <strong>Success</strong> You did great!.
  </ngb-alert>
<br>

<ngb-alert class="d-flex justify-content-center" id="3" (close)="cerrar(3)">
    <strong>Success</strong> You did great!.
  </ngb-alert>
